/* CSS declarations go here */

body {
  background-color: #eee;
}

.navbar-offset {
  top: 76px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none!important;
}

[ng-click], [ui-sref] {
  cursor: pointer;
}

li {
  list-style-type: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

md-input-container:not(.md-input-invalid).md-input-focused {
  label {
    color: #de1661;
  }

  .md-input {
    border-color: #de1661;
  }
}
