body {
  background-color: #fff;
  font-family: 'Lato';
}

.navbar-offset {
  top: 76px;
}

a,
a:hover {
  text-decoration: none !important;
}

[ui-sref],
[ng-click] {
  cursor: pointer;
}

li {
  list-style-type: none;
}
