html,
body,
.full-height {
  height: 100%;
}

main {
  height: auto;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: 'Lato';
}

main {
  background: #ECECEC;
  box-sizing: border-box;
  padding: 2em 3.3em;
}

a,
a:hover {
  text-decoration: none !important;
}

.fucsia {
  color: #DF1562;
}

.light-gray {
  color: #eee!important;
}

.btn {
  cursor: pointer;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  border-radius: .25rem;
  text-align: center;
}

.btn-white {
  background-color: white;
  color: @comigre-fucsia;
}

.btn-fucsia {
  background-color: @comigre-fucsia;
  color: white;
}

.cadastro-container {
  background: white;
  width: 65%;
  padding: 3%;
  position: absolute;
  right: 3%;
}

[ui-sref],
[ng-click] {
  cursor: pointer;
}

li {
  list-style-type: none;
}

@import "../imports/ui/config/variables.less";
