<breadcrumbs
  ng-class=" $ctrl.step > 0 ? 'ml4' : ''"
  crumbs="$ctrl.breadcrumbs"
  on-crumb-click="$ctrl.handleCrumbClick($event)">
</breadcrumbs>
<section class="flex flex-column content-between" ng-class=" $ctrl.step > 0 ? 'register-card' : ''" ng-switch="$ctrl.step">
  <place-register-position
    ng-cloak
    ng-switch-when="0"
    on-confirm="$ctrl.handleConfirmStep($event)">
  </place-register-position>
  <place-register-type
    ng-switch-when="1"
    selected-street="$ctrl.place.address.street"
    on-confirm="$ctrl.handleConfirmStep($event)">
  </place-register-type>
  <place-register-info
    ng-switch-when="2"
    type="$ctrl.place.type"
    on-confirm="$ctrl.handleConfirmStep($event)">
  </place-register-info>
</section>
