<div layout="column" layout-align="center center">
  <md-input-container>
    <label>E-mail</label>
    <input type="email" ng-model="$ctrl.credentials.email">
  </md-input-container>

  <md-input-container>
    <label>Senha</label>
    <input type="password" ng-model="$ctrl.credentials.password">
  </md-input-container>

  <md-button ng-click="$ctrl.login()" layout-fill flex>
    confirmar
  </md-button>

  <span flex layout-padding>
    Não possui uma conta ainda?
    <a ui-sref="register">Clique aqui</a>
  </span>
</div>
