<section class="flex flex-column justify-center">

  <div class="flex items-end h1">
    <span class="fucsia">Entre</span><a ui-sref="register" class="text-light-gray ml1">/ Cadastre-se</a>
  </div>

  <div class="flex justify-center mt4">
    <form name="form" class="login-form">
      <div class="login-form-group">
        <input type="email" ng-model="$ctrl.credentials.email" placeholder="E-mail">
      </div>

      <div class="login-form-group">
        <input type="password" ng-model="$ctrl.credentials.password" placeholder="Senha">
      </div>
    </form>
  </div>

  <div class="flex justify-end mt4">
    <button class="btn btn-fucsia-primary" ng-click="$ctrl.login()">Entrar</button>
  </div>

</section>
