<section class="register-card flex flex-column content-between mt2 card">

  <div class="flex justify-between header border-bottom">
    <header>
      <h1>Seus locais</h1>
      <h3>Visualize e gerencie todos seus locais cadastrados</h3>
    </header>
    <div class="flex items-end">
      <button ui-sref="place-register" class="btn btn-teal-secondary">Cadastrar novo local</button>
    </div>
  </div>

  <div class="place-summary" ng-class="$last ? '' : 'border-bottom'" ng-repeat="place in $ctrl.places">
    <div class="info ">
      <span class="action-buttons"><i class="fa fa-edit" aria-hidden="true"></i></span>
      <span class="action-buttons"><i class="fa fa-times" aria-hidden="true"></i></span>
      <type-icon value="place.type"></type-icon>
      <span class="h3 my0">{{ place.name }}</span>
      <summary class="mt2 justify">
        {{ place.description }}</span>
      </summary>
    </div>
  </div>

</section>
