<section class="register-card flex flex-column content-between">

  <div class="flex justify-between header border-bottom">
    <div>
      <h1>Seus locais</h1>
      <h3>Visualize e gerencie todos seus locais cadastrados</h3>
    </div>
    <div class="flex items-end">
      <button class="btn btn-teal-secondary">Cadastrar novo local</button>
    </div>
  </div>

  <div class="place-summary border-bottom">
    <span class="flag-place-type bg-fucsia">Vaga de Moradia</span>
    <div class="info ">
      <h3 class="my0">Título da vaga de moradia</h3>
      <div class="mt0">
        <span class="bold">R$00,00</span>
        <span class="ml1 text-light-gray">Tipo de propriedade e quarto</span>
      </div>
      <summary class="mt2 justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna justo. Vestibulum lorem mi, maximus blandit blandit et, consequat at lectus. Curabitur porttitor magna eu quam sollicitudin, ut rutrum dolor convallis...</span>
      </summary>
    </div>
  </div>

  <div class="place-summary border-bottom">
    <span class="flag-place-type bg-teal">Vaga de Emprego</span>
    <div class="info">
      <h3 class="my0">Título da vaga de emprego</h3>
      <div class="mt0">
        <span class="bold">R$00,00</span>
        <span class="ml1 text-light-gray">Tipo de contrato</span>
      </div>
      <summary class="mt2 justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna justo. Vestibulum lorem mi, maximus blandit blandit et, consequat at lectus. Curabitur porttitor magna eu quam sollicitudin, ut rutrum dolor convallis...</span>
      </summary>
    </div>
  </div>

  <div class="place-summary border-bottom">
    <span class="flag-place-type bg-fucsia">Evento</span>
    <div class="info ">
      <h3 class="my0">Título do evento</h3>
      <div class="mt0">
        <span class="bold">R$00,00</span>
        <span class="ml1 text-light-gray">Dia e hora</span>
      </div>
      <summary class="mt2 justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna justo. Vestibulum lorem mi, maximus blandit blandit et, consequat at lectus. Curabitur porttitor magna eu quam sollicitudin, ut rutrum dolor convallis...</span>
      </summary>
    </div>
  </div>

  <div class="place-summary border-bottom">
    <span class="flag-place-type bg-teal">Curso profissionalizante</span>
    <div class="info ">
      <h3 class="my0">Título do curso profissionalizante</h3>
      <div class="mt0">
        <span class="bold">R$00,00</span>
        <span class="ml1 text-light-gray">Carga horária</span>
      </div>
      <summary class="mt2 justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna justo. Vestibulum lorem mi, maximus blandit blandit et, consequat at lectus. Curabitur porttitor magna eu quam sollicitudin, ut rutrum dolor convallis...</span>
      </summary>
    </div>
  </div>

  <div class="place-summary border-bottom">
    <span class="flag-place-type bg-fucsia">Aula de português</span>
    <div class="info ">
      <h3 class="my0">Título da aula de português</h3>
      <div class="mt0">
        <span class="bold">R$00,00</span>
        <span class="ml1 text-light-gray">Dias e hora</span>
      </div>
      <summary class="mt2 justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac magna justo. Vestibulum lorem mi, maximus blandit blandit et, consequat at lectus. Curabitur porttitor magna eu quam sollicitudin, ut rutrum dolor convallis...</span>
      </summary>
    </div>
  </div>

</section>
