app {
  & > section {
    margin-top: 4%;
  }
}

body {
  background-color: #eee;
}

md-dialog {
  opacity: 1;
}

@import "../navbar/navbar.less";
@import "../places/places.less";
@import "../auth/auth.less";
@import "../events-register/events-register.less";
@import "../../config/variables.less";
