<md-toolbar class="md-hue-2" md-whiteframe="6">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleMenu()" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>
    <img ng-style="{ 'max-width': $ctrl.$mdMedia('xs') ? '50%' : '100%' }"
      class="logo" src="images/logo.png">
    </img>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
    </md-button>
  </div>
</md-toolbar>
