<md-toolbar class="md-hue-2" md-whiteframe="6">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleMenu()" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>
    <img ng-style="{ 'max-width': $ctrl.$mdMedia('xs') ? '50%' : '100%' }"
      class="logo" src="images/logo.png">
    </img>
    <span flex></span>
    <div ng-if="$ctrl.isLoggedIn()">
      <small>{{ $ctrl.getUserEmail() }}</small>
      <md-button  class="md-icon-button" aria-label="User">
        <i class="material-icons account-circle">account_circle</i>
      </md-button>
    </div>
    <div ng-if="!$ctrl.isLoggedIn()">
      <md-button
        class="md-warn"
        ng-click="$ctrl.openLoginDialog(event)"
        aria-label="Login">
        Entrar
      </md-button>
      <span>|</span>
      <md-button
        class="md-warn"
        ng-click="$ctrl.openLoginDialog(event)"
        aria-label="Login">
        Cadastrar
      </md-button>
    </div>
  </div>
</md-toolbar>
