navbar {
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 10;

  .account-circle {
    font-size: 31px;
    color: #737373;
  }

  small {
    font-size: 13px;
  }

  .md-toolbar-tools > .md-button.md-icon-button:last-child {
    margin-bottom: 8px;
  }

  .logo {
    padding: 10px;
  }

  .md-hue-2 {
    padding-top: 5px;
  }
}
