<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <i class="material-icons">menu</i>
    </md-button>
    <img class="logo" src="images/logo.png"></img>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <!-- <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon> -->
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <!-- <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
    </md-button>
  </div>
</md-toolbar>
