
<h2 class="breadcrumbs mt0">
  Mapa > <span class="h2">Tipo</span>
</h2>
<section class="flex flex-column content-between">

  <div class="flex justify-center">

    <div class="flex items-center pr4">
      <div class="flex flex-column items-center">
        <span>R. Eurico Gaspar Dutra</span>
        <h1 class="mt1">O que há aqui?</h1>
      </div>
    </div>


    <ul class="m0 pl4 h3">
      <li class="border-bottom">
        <input ng-model="$ctrl.placeType" type="radio" value="evento" id="event-option" name="selector">
        <label for="event-option">Evento</label>
        <div class="check"></div>
      </li>

      <li class="border-bottom">
        <input ng-model="$ctrl.placeType" type="radio" value="vagaEmprego" id="job-option" name="selector">
        <label for="job-option">Vaga de emprego</label>
        <div class="check"><div class="inside"></div></div>
      </li>

      <li class="border-bottom">
        <input ng-model="$ctrl.placeType" type="radio" value="cursoProfissionalizante" id="technical-course-option" name="selector">
        <label for="technical-course-option">Curso profissionalizante</label>
        <div class="check"><div class="inside"></div></div>
      </li>

      <li class="border-bottom">
        <input ng-model="$ctrl.placeType" type="radio" value="aulaPortugues" id="portuguese-class-option" name="selector">
        <label for="portuguese-class-option">Aula de português</label>
        <div class="check"><div class="inside"></div></div>
      </li>

      <li>
        <input ng-model="$ctrl.placeType" type="radio" value="moradia" id="habitation-option" name="selector">
        <label for="habitation-option">Moradia</label>
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>

  </div>

  <div class="flex flex-auto justify-between items-end mt3">
    <p class="btn btn-fucsia right">Voltar</p>
    <p class="btn btn-fucsia right">Próximo</p>
  </div>

</section>
