<i ng-if="$ctrl.value === EVENT" class="flag-place-type fa fa-home fucsia" aria-hidden="true"></i>
<i ng-if="$ctrl.value === JOB" class="flag-place-type fa fa-home fucsia" aria-hidden="true"></i>
<i ng-if="$ctrl.value === ACCOMMODATION" class="flag-place-type fa fa-home fucsia" aria-hidden="true"></i>
<i ng-if="$ctrl.value === PORTUGUESE_CLASS" class="flag-place-type fa fa-home fucsia" aria-hidden="true"></i>
<i ng-if="$ctrl.value === VOCATIONAL_COURSE" class="flag-place-type fa fa-home fucsia" aria-hidden="true"></i>
