<div class="flex justify-center px4 mr1">
  <form name="form" class="register-form">
    <div class="form-title">
      <h2>Apresentação</h2>
      <div class="flex-auto border-bottom"></div>
    </div>
    <div class="form-group">
      <label>Dê um nome ao seu evento
        <input type="text" name="name" ng-model="$ctrl.event.name" placeholder="Título do evento" required>
      </label>
    </div>
    <div class="form-group">
      <label>
        Descreva o evento que você está anunciando
        <textarea type="text" rows="10" ng-model="$ctrl.event.description" placeholder="Descrição do evento" required>
      </label>
    </div>
    <div class="form-title">
      <h2>Acesso ao evento</h2>
      <div class="flex-auto border-bottom"></div>
    </div>
    <div class="form-group">
      <label>Quando seu evento irá acontecer?
        <input type="date" name="date" ng-model="$ctrl.event.date" required>
      </label>
    </div>
    <div class="form-group">
      <label>Qual o horário de início do evento?
        <input type="time" ng-model="$ctrl.event.time" required>
      </label>
    </div>

    <div class="form-title">
      <h2>Contato</h2>
      <div class="flex-auto border-bottom"></div>
    </div>

    <div class="form-group">
      <label>
        Nome da instituição promovedora
        <textarea type="text" rows="1" ng-model="$ctrl.event.promoterName">
      </label>
    </div>

    <div class="form-group">
      <label>
        Telefone de contato
        <textarea type="text" rows="1" ng-model="$ctrl.event.promoterPhone">
      </label>
    </div>

    <div class="form-group">
      <label>
        Email
        <textarea type="text" rows="1" ng-model="$ctrl.event.promoterEmail">
      </label>
    </div>
  </form>
</div>
