<div class="md-primary md-fab md-fab-bottom-right" layout="row" layout-align="center center">
  <md-fab-speed-dial md-open="$ctrl.isOpen" md-direction="up" ng-class="'md-scale'">
      <md-fab-trigger>
          <md-button md-whiteframe="7" aria-label="menu" class="md-fab md-warn md-whiteframe-18dp">
            <md-icon md-font-library="material-icons">{{ $ctrl.selected.icon }}</md-icon>
          </md-button>
      </md-fab-trigger>
      <md-fab-actions>
          <md-button
            ng-click="$ctrl.select(filter)"
            aria-label="{{ filter.name }}"
            ng-repeat="filter in $ctrl.filters | filter:{ name: '!' + $ctrl.selected.name }"
            class="md-fab md-raised md-mini">
            <md-tooltip md-direction="left" md-autohide="false">
              {{ filter.name }}
            </md-tooltip>
            <md-icon md-font-library="material-icons">{{ filter.icon }}</md-icon>
          </md-button>
      </md-fab-actions>
  </md-fab-speed-dial>
</div>
