<section class="flex flex-column">

  <div class="flex items-end h1">
    <span class="text-light-gray">Entre /</span><span class="fucsia ml1"> Cadastre-se</span>
  </div>

  <div class="flex justify-center mt4">
    <form name="form" class="login-form">
      <div class="login-form-group">
        <input type="text" ng-maxlength="70" ng-model="$ctrl.user.username" placeholder="Nome" required>
      </div>

      <div class="login-form-group">
        <input type="email" ng-maxlength="130" ng-model="$ctrl.user.email" placeholder="Email" required>
      </div>

      <div class="login-form-group">
        <input type="password" name="password" ng-maxlength="30" ng-model="$ctrl.user.password" placeholder="Senha" required>
      </div>
    </form>
  </div>

  <div class="flex justify-center items-center mt4">
    <button class="btn btn-fucsia-secondary" ng-click="$ctrl.register()">Cadastrar</button>
    <span class="ml2 text-light-gray">Já está cadastrado?<a ui-sref="login"> Clique aqui.</a></span>
  </div>

</section>
