<event-form on-valid="$ctrl.handleValidity($event)" ng-if="$ctrl.type === EVENT"></event-form>
<job-form on-valid="$ctrl.handleValidity($event)" ng-if="$ctrl.type === JOB"></job-form>
<residence-form on-valid="$ctrl.handleValidity($event)" ng-if="$ctrl.type === RESIDENCE"></residence-form>
<portuguese-class-form on-valid="$ctrl.handleValidity($event)" ng-if="$ctrl.type === PORTUGUESE_CLASS"></portuguese-class-form>
<vocational-course-form on-valid="$ctrl.handleValidity($event)" ng-if="$ctrl.type === VOCATIONAL_COURSE"></vocational-course-form>

<div class="flex flex-auto justify-between items-end mt4">
  <button class="btn btn-teal-secondary">Voltar</button>
  <button ng-disabled="!$ctrl.valid" ng-click="$ctrl.confirm()" class="btn btn-teal-primary">
    Próximo
  </button>
</div>
