navbar {
  nav {
    width: 100%;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
  }

  [ng-click] {
    cursor: pointer;
  }

  .absolute {
    top: 60px;
  }

  a:hover {
    text-decoration: none;
  }
}
