<nav class="clearfix flex black z3 top-0">

  <figure class="inline-block left px1 m0">
    <img class="border-right border-gray" src="images/logo.png"></img>
  </figure>

  <ul class="flex items-center flex-auto ml2 list-reset">
    <li>
      <a ui-sref="place-register" ng-class="$ctrl.isActive('place-register') ? 'active' : ''" class="inline-block px2">Cadastrar um local</a>
    </li>
    <li>
      <a ui-sref="places-list" ng-class="$ctrl.isActive('places-list') ? 'active' : ''" class="inline-block px2" ui-sref="event">Seus locais</a>
    </li>
  </ul>

  <div class="flex items-center">
    <span class="px3 log-in" ng-if="!$ctrl.isLoggedIn()" ui-sref="login">
      Entrar
    </span>

    <span class="px3 name-dropdown" ng-if="$ctrl.isLoggedIn()" ng-click="$ctrl.toggleDropdown()">
      {{ $ctrl.getUser().username }}
    </span>

    <div class="dropdown-profile light-gray absolute border border-gray z4 right navbar-offset px2 py1" ng-if="$ctrl.dropdownIsOpen && $ctrl.isLoggedIn()" >
      <div class="flex flex-column flex">
        <div class="flex items-center info light-gray border-bottom">
          <img class="rounded py2" src="http://placehold.it/80x80" alt="Imagem padrão" />

          <div class="flex flex-column px2 flex-start">
            <span class="name h4">{{ $ctrl.getUser().username }}</span>

            <span class="h6">{{ $ctrl.getUser().emails[0].address }}</span>

            <p class="btn btn-fucsia-primary caps">Ver perfil</p>

          </div>
        </div>

        <a class="center p1" ng-click="$ctrl.logout()">Sair</a>
      </div>
    </div>
  </div>
</nav>
