<nav class="clearfix flex black z3 fixed top-0">

  <img class="inline-block left border-right px1" src="images/logo.png"></img>

  <div class="flex items-center flex-auto ml2">
    <a href="#" class="inline-block px2">Empregos</a>
    <a class="inline-block px2" ui-sref="event">Eventos</a>
    <a href="#" class="inline-block px2">Cursos</a>
    <a href="#" class="inline-block px2">Moradias</a>
    <a href="#" class="inline-block px2">Intituições</a>
  </div>

  <div class="flex items-center">
    <span class="px3 log-in" ng-if="!$ctrl.isLoggedIn()" ui-sref="login">
      Entrar
    </span>

    <span class="px3 name-dropdown" ng-if="$ctrl.isLoggedIn()" ng-click="$ctrl.toggleDropdown()">
      {{ $ctrl.getUser().username }}
    </span>

    <div class="absolute border z4 right navbar-offset px2 py1" ng-if="$ctrl.dropdownIsOpen" >
      <div class="flex flex-column flex">
        <div class="flex items-center info">
          <img class="rounded py2" src="http://placehold.it/80x80" alt="Imagem padrão" />

          <div class="flex flex-column px2 flex-start">
            <span class="name h4">{{ $ctrl.getUser().username }}</span>

            <span class="name h6">{{ $ctrl.getUser().emails[0].address }}</span>

            <a href="#" class="button rounded white caps px2 py1">Ver perfil</a>

          </div>
        </div>

        <a class="center p1 border-top nav-item" ng-click="$ctrl.logout()">Sair</a>
      </div>
    </div>
  </div>
</nav>
