navbar {
  nav {
    width: 100%;
    color: @text-gray;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.15);
    transition: all ease .2s;
  }

  figure {
    height: 100%;
    width: auto;
    min-height: 4.3rem;
  }

  ul {
    transition: all ease .2s;
  }

  img {
    transition: all ease .4s;
  }

  .sticky {
    transform: translateY(-20%);

    img {
      opacity: 0;
      transform: translateX(-110%);
    }

    ul {
      margin-top: 1.7rem;
      transform: translateX(-14%);
    }
  }

  nav a,
  nav span {
    color: rgba(119, 119, 119, 0.58);
  }

  nav a.active {
    color: @purple;
  }

  .btn {
    margin-top: 20px;
    font-size: 0.7rem;
  }

  .absolute { right: 20px; }

  .log-in:hover { color: @purple; }

  .name-dropdown { margin-right: 20px; }

  .name-dropdown:hover { color: @purple; }

  .name-dropdown:before {
    content: "";
    position: absolute;
    top: 29px;
    right: 30px;
    border: 3px solid transparent;
    border-top: 3px solid @text-gray;
    margin: 9px 0 0;
  }

  .dropdown-profile {
    background-color: #fff;
    margin-top: 9.3%;
  }

  .info {
    padding-bottom: 8px;

    .name {
      margin-top: 5px;
      color: @text-gray;
    }
  }
}
