<header class="mt3">
  <h1 class="fucsia mt0">Confirmar a criação do local?</h1>
</header>
<section class="flex">
  <img
    style="width: 50%; height: 50%"
    ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v9/static/{{ $ctrl.mapImageParams }}"
    alt="Description"/>
  <div class="flex flex-column items-start px3">
    <h2>{{ $ctrl.place.info.name }}</h2>
    <p style="font-size: 1.2em">{{ $ctrl.place.info.description.substring(0, 138) || $ctrl.place.info.description }}</p>
    <span>
      Disponível em:
      <span class="fucsia" style="text-transform: uppercase">
        PT,&nbsp;{{ $ctrl.place.availableLanguages.join(', ') }}
      </span>
    </span>
  </div>
</section>
<footer class="flex flex-auto justify-between items-start mt4">
  <button class="btn btn-teal-secondary">Voltar</button>
  <button ng-click="$ctrl.onConfirm($event)" class="btn btn-teal-primary">
    Confirmar cadastro
  </button>
</footer>
