<md-toolbar>
  <div class="md-toolbar-tools"></div>
</md-toolbar>

<md-content layout="column" layout-padding layout-wrap layout-align="start center">

  <md-card flex="100" flex-gt-sm="100" layout="column">
    <md-button class="md-icon-button" ui-sref="guide">
      <i class="material-icons">arrow_back</i>
    </md-button>
    <md-card-title flex>
      <md-card-title-text>
        <span class="md-headline">Exemplo</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content flex>
      <p>
        Exemplo
      </p>
    </md-card-content>
  </md-card>

  <md-toolbar class="toolbar-footer">
    <div class="md-toolbar-tools"></div>
  </md-toolbar>

</md-content>
