<md-content layout="row" layout-padding layout-wrap layout-align="center center">

  <md-card flex="80" layout="column">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ui-sref="guides">
          <i class="material-icons">arrow_back</i>
        </md-button>
          <md-card-title-text>
            <span class="md-headline"> Exemplo tem que chamar a coisa aqui ainda </span>
          </md-card-title-text>
      </div>
    <md-card-content flex>
      <p>
         Exemplo tem que chamar a coisa aqui ainda
      </p>
    </md-card-content>
  </md-card>

  <md-toolbar class="toolbar-footer">
    <div class="md-toolbar-tools"></div>
  </md-toolbar>

</md-content>
