<md-content layout="row" layout-wrap layout-padding layout-align="center center">
  <md-card ui-sref="guides.detail({ id: {{ guide._id }} })" ui-sref-opts="{reload: true}"
    md-ink-ripple
    flex-gt-sm="30"
    flex-gt-xs="40"
    flex="100"
    layout="column"
    ng-repeat="guide in $ctrl.guides">
    <md-card-title flex>
      <md-card-title-text>
        <span class="md-headline">{{ guide.title }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content flex>
      <p> {{ guide.content }} </p>
    </md-card-content>
  </md-card>
</md-content>
