sidebar {
  .material-icons {
    color: #1b1931;
    margin-right: 10px;
    margin-top: 12px;
    float: right;
    // font-size: 22px;
  }

  .md-button {
    text-align: left;
  }

  .md-button:not([disabled]):hover {
    background-color: none;
  }

  md-backdrop.md-opaque {
    background-color: #5d5b5b;
  }

  md-sidenav {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0.2s ease-in all;
  }

  ._md-closed {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0px, 0px);
  }

  md-toolbar {
    .md-button.md-default-theme {
      border-radius: 99%; // round toolbar buttons
    }
  }

  md-toolbar.md-tall {
    height: 100px;
    min-height: 110px;
    max-height: 128px;
  }

  .user-avatar {
    color: white;
    font-size: 35px
  }

  .user-info {
    color: white;
    width: 70%;
    margin-top:  2%;
    margin-left: 8%;
    line-height: 0px;
  }

  .user-info h5,
  .user-info h6 {
    font-weight: normal;
    cursor: pointer;
  }
}
