sidebar {

}

.md-sidenav-left.md-closed,
md-sidenav.md-closed {
    -webkit-transform: translate3d(-70%,0,0);
    transform: translate3d(-70%,0,0);
}

md-sidenav.md-closed {
    display: block;
}

sidebar img {
  height: 60%;
  width: 25%;
  right: 13px;
  top: 24px;
  position: absolute;
}

sidebar .material-icons {
  margin-right: 20px;
  margin-top: 12px;
  float: right;
}
