sidebar {
  .material-icons {
    color: #f1eded;
    margin-right: 10px;
    margin-top: 12px;
    float: right;
    font-size: 22px;
  }

  .md-button {
    text-align: left;
  }

  md-backdrop.md-opaque {
    background-color: #5d5b5b;
  }

  md-sidenav {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0.2s ease-in all;
  }

  ._md-closed {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0px, 0px);
  }
}
