sidebar {
  img {
    height: 65%;
    width: 13%;
    right: 19px;
    top: 12px;
    position: absolute;
  }

  .material-icons {
    color: #f1eded;
    margin-right: 10px;
    margin-top: 12px;
    float: right;
    font-size: 22px;
  }
}

md-sidenav {
  z-index: 1;
}
md-sidenav.md-closed,
.md-sidenav-left.md-closed {
    -webkit-transform: translate3d(-77%,0,0);
    transform: translate3d(-77%,0,0);
}

md-sidenav.md-closed {
    display: block;
}
