<md-sidenav
  layout="row"
  md-component-id="sidebar"
  class="md-sidenav-left"
  md-swipe-left="$ctrl.close()">

  <md-content class="languages" flex="18">
    <md-list class="list">
      <md-list-item>
        <md-icon class="md-avatar-icon md-icon-button language-button">
          <span>pt</span>
        </md-icon>
      </md-list-item>
      <md-list-item>
        <md-icon class="md-avatar-icon md-icon-button language-button">
          <span>en</span>
        </md-icon>
      </md-list-item>
      <md-list-item>
        <md-icon class="md-avatar-icon md-icon-button language-button">
          <span>fr</span>
        </md-icon>
      </md-list-item>
      <md-list-item>
        <md-icon class="md-avatar-icon md-icon-button language-button">
          <span>es</span>
        </md-icon>
      </md-list-item>

      <md-list-item class="account-circle logged-in" ng-if="$ctrl.isLoggedIn()">
        <md-icon
          md-font-library="material-icons"
          class="md-avatar-icon md-icon-button">account_circle</md-icon>
      </md-list-item>
      <md-list-item class="account-circle not-logged-in" ng-if="!$ctrl.isLoggedIn()">
        <md-icon
          md-font-library="material-icons"
          class="md-avatar-icon md-icon-button">account_circle</md-icon>
      </md-list-item>
    </md-list>
  </md-content>

  <md-content flex>
    <md-toolbar class="md-hue-3 md-tall">
      <div layout="row" layout-align="center center" layout-fill>
        <img class="logo" src="images/logo-branco2.png">
        </img>
      </div>
    </md-toolbar>

    <md-list>
      <md-list-item
        ng-repeat="section in ::$ctrl.sections"
        ng-click="$ctrl.goTo(section.state)">
        <p>{{:: section.name }}</p>
        <md-icon md-font-library="material-icons">keyboard_arrow_right</md-icon>
      </md-list-item>
    </md-list>

    <div id="user-area">
      <md-divider></md-divider>

      <h4 ng-if="!$ctrl.isLoggedIn()" ng-click="null">  Você não está autenticado </h4>
      <h5 ng-if="!$ctrl.isLoggedIn()" ui-sref="login">
        <md-icon md-font-library="material-icons">exit_to_app</md-icon>
          Entrar
      </h5>

      <h4 ng-if="$ctrl.isLoggedIn()" ng-click="null">
        {{ $ctrl.getUser().username }}
      </h4>
      <h5 ng-if="$ctrl.isLoggedIn()" ng-click="null">
        <md-icon md-font-library="material-icons">settings</md-icon>
        Configurações
      </h5>
      <h5 ng-if="$ctrl.isLoggedIn()" ng-click="$ctrl.logout()">
        <md-icon md-font-library="material-icons">exit_to_app</md-icon>
        Sair
      </h5>
    </div>


  </md-content>
</md-sidenav>
