<md-sidenav
  md-component-id="sidebar"
  class="md-sidenav-left"
  md-swipe-left="vm.onSwipeLeft()">
    <md-content flex layout-padding>
      <ul>
        <list-item ng-repeat="section in vm.sections">
          <menu-link section="section">
            <a class="md-button md-accent">
              <span>{{ section.name }}</span>
            </a>
            <i class="material-icons md-primary">{{ section.icon }}</i>
            </menu-link>
            <md-divider class="md-accent"></md-divider>
        </list-item>
      </ul>
    </md-content>
</md-sidenav>
