<md-dialog-content layout="column" layout-padding layout-align="center center">
  <span flex></span>
  <img flex class="logo-icon" src="images/icon.svg"></img>
  <span flex></span>
  <div layout="row" layout-xs="column">
    <md-input-container>
      <label>E-mail</label>
      <input type="email" ng-model="$ctrl.credentials.email">
    </md-input-container>
    <md-input-container md-no-float>
      <label>Senha</label>
      <input type="password" ng-model="$ctrl.credentials.password">
    </md-input-container>
  </div>
</md-dialog-content>

<md-dialog-actions layout="column" layout-align="center center" layout-padding>
  <md-button flex ng-click="$ctrl.login()">confirmar</md-button>
  <span flex>
    Não possui uma conta ainda?
    <a href="#">Clique aqui</a>
  </span>
  <span flex></span>
</md-dialog-actions>
