<div class="flex justify-center">

  <div class="flex items-center pr4">
    <div class="flex flex-column items-center">
      <span>{{ $ctrl.address.street + ', ' + $ctrl.address.number + '.' }}</span>
      <h1 class="mt1">O que há aqui?</h1>
    </div>
  </div>

  <ul class="m0 pl4 h3">
    <li class="border-bottom">
      <input ng-model="$ctrl.type" type="radio" ng-value="::$ctrl.types.EVENT" id="event-option" name="type">
      <label for="event-option">Evento</label>
      <div class="check"></div>
    </li>

    <li class="border-bottom">
      <input ng-model="$ctrl.type" type="radio" ng-value="::$ctrl.types.JOB" id="job-option" name="type">
      <label for="job-option">Vaga de emprego</label>
      <div class="check"><div class="inside"></div></div>
    </li>

    <li class="border-bottom">
      <input ng-model="$ctrl.type" type="radio" ng-value="::$ctrl.types.VOCATIONAL_COURSE" id="technical-course-option" name="type">
      <label for="technical-course-option">Curso profissionalizante</label>
      <div class="check"><div class="inside"></div></div>
    </li>

    <li class="border-bottom">
      <input ng-model="$ctrl.type" type="radio" ng-value="::$ctrl.types.PORTUGUESE_CLASS" id="portuguese-class-option" name="type">
      <label for="portuguese-class-option">Aula de português</label>
      <div class="check"><div class="inside"></div></div>
    </li>

    <li>
      <input ng-model="$ctrl.type" type="radio" ng-value="::$ctrl.types.RESIDENCE" id="habitation-option" name="type">
      <label for="habitation-option">Moradia</label>
      <div class="check"><div class="inside"></div></div>
    </li>
  </ul>

</div>

<div class="flex flex-auto justify-between items-end mt4">
  <button class="btn btn-teal-secondary" ng-click="$ctrl.goBack()">Voltar</button>
  <button
    ng-disabled="$ctrl.type === undefined"
    ng-click="$ctrl.confirm()"
    class="btn btn-teal-primary">
    Próximo
  </button>
</div>
