<div class="flex justify-center px4 mr1">
  <form name="form" class="register-form">

    <div class="form-title">
      <h2>Apresentação</h2>
      <div class="flex-auto border-bottom"></div>
    </div>

    <div class="form-group">
      <label>Título do curso
        <input type="text" name="name" ng-model="$ctrl.vocationalCourse.title" placeholder="Ex.: Introdução a Lógica De Programação e Algoritmos" required>
      </label>
    </div>

    <div class="form-group">
      <label>
        Descreva o curso que você está anunciando
        <textarea type="text" rows="10" ng-model="$ctrl.vocationalCourse.description" placeholder="Ex.: Quais assuntos serão abordados? Qual o cronograma do curso?" required>
      </label>
    </div>

    <div class="form-group">
      <label>Investimento
        <input type="number" ng-model="$ctrl.vocationalCourse.price" placeholder="190.00" required>
        <!--colocar opção para gratuito-->
      </label>
    </div>

    <div class="form-group">
      <label>Carga horária
        <input type="number" ng-model="$ctrl.vocationalCourse.duration" placeholder="Ex.: 24h" required>
      </label>
    </div>

    <div class="form-title">
      <h2>Detalhes</h2>
      <div class="flex-auto border-bottom"></div>
    </div>

    <div class="form-group">
      <label>Turno
        <input type="text" ng-model="$ctrl.vocationalCourse.shift" placeholder="Ex.: Vespertino (Segunda à Sexta-feira)" required>
      </label>
    </div>

    <div class="form-group">
      <label>Horário das aulas
        <input type="text" ng-model="$ctrl.vocationalCourse.timetable" placeholder="Ex.: das 07h30 às 11h30" required>
      </label>
    </div>

    <div class="form-group">
      <label>Período do curso
        <input type="text" ng-model="$ctrl.vocationalCourse.period" placeholder="Ex.: 11/07/2016 15/07/2016" required>
      </label>
    </div>

    <div class="form-group">
      <label>
        Que requisitos esse curso possui?
        <input type="text" ng-model="$ctrl.vocationalCourse.requirement" placeholder="Ex.: Ter conhecimento em computação básica" required>
      </label>
    </div>

  </form>
</div>

<div class="flex flex-auto justify-between items-end mt4">
  <button class="btn btn-teal-secondary">Voltar</button>
  <button ng-disabled="!form.$valid" class="btn btn-teal-primary">
    Próximo
  </button>
</div>
