auth {
  section {
    height: 100%;
  }

  a {
    color: @text-light-gray;
  }
  
  .presentation-pane {
    background-color: @purple;
  }

  .form-pane {
    background-color: #fff;
  }

  ui-view {
    width: 100%;
  }

  .login-form {
    display: block;
    width: 100%;
    margin-top: -1em;

    .login-form-group {
      margin-top: 1em;

       label {
        display: block;
        margin-bottom: .5em;
        font-size: 1.02em;
        font-weight: bold;
        color: @text-gray;
      }

      ::-webkit-input-placeholder  { color: @text-light-gray; }
      input:-moz-placeholder { color: @text-light-gray; }
      textarea:-moz-placeholder { color: @text-light-gray; }

      input,
      textarea {
        display: block;
        margin-top: 1em;
        width: 94%;
        font-size: 1.2em;
        min-height: 1.5em;
        padding: .5em .75em;
        line-height: 1.25;
        border: none;
        border-bottom: 3px solid @light-gray;
        margin-bottom: 1.8em;

        &:focus {
          border-color: @text-light-gray;
        }

        &.ng-invalid:not(.ng-pristine) {
          box-shadow: 0 0 0 0.1em #e87d7d;
        }
      }
    }
  }
}

@import "../../config/variables.less";
