<section class="flex">
  <div class="flex items-center flex-column justify-center presentation-pane col-6">
    <img flex style="max-width: 85%" class="mt4" src="images/teste2.png" />
    <div class="flex flex-column justify-start">
      <h3 class="mt4 regular text-light-gray mb0"><i class="teal fa fa-university mr1" aria-hidden="true"></i>
        Divulgue os eventos e aulas de português da sua instituição</h3>
      <h3 class="regular text-light-gray mb0"><i class="teal fa fa-briefcase mr1" aria-hidden="true"></i>
      Cadastre vagas de emprego e de cursos profissionalizantes</h3>
      <h3 class="regular text-light-gray"><i class="teal fa fa-user mr1" aria-hidden="true"></i>
      Torne-se um anfitrião compartilhando seu imóvel</h3>
    </div>
  </div>
  <div class="flex flex-auto form-pane">
    <ui-view />
  </div>
</section>
