<md-toolbar>
  <div class="md-toolbar-tools"></div>
</md-toolbar>

<md-content layout="column" layout-padding layout-fill layout-align="start center">

  <md-card flex layout="column">
    <md-card-title flex>
      <md-card-title-media>
        <md-button class="md-icon-button">
          <i class="material-icons">event</i>
        </md-button>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Cadastre um evento</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content flex>
      <p>
        Cadastre um evento sobre a temática.
      </p>
    </md-card-content>
  </md-card>

  <md-card flex layout="column">
    <md-card-title flex>
      <md-card-title-media>
        <md-button class="md-icon-button">
          <i class="material-icons">assignment</i>
        </md-button>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Informações do evento</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content layout="column" layout-padding flex>
      <form layout="column">
        <md-input-container flex>
          <label>Nome</label>
          <input type="text" ng-maxlength="70" ng-model="$ctrl.event.name" required>
        </md-input-container>
        <span flex></span>
        <md-input-container flex="60">
          <label>Descrição</label>
          <textarea ng-model="$ctrl.event.description" ng-maxlength="150" rows="3"></textarea>
        </md-input-container>
      </form>
    </md-card-content>

    <md-card-actions flex layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
    </md-card-actions>
  </md-card>

  <places-register flex on-confirm="$ctrl.onSelectPlace(place)"></places-register>

  <md-toolbar class="toolbar-footer">
    <div class="md-toolbar-tools"></div>
  </md-toolbar>
</md-content>
