events-register {
  .layout-fill {
    height: inherit;
  }

  md-progress-circular.md-default-theme path, md-progress-circular path {
      stroke: rgb(222, 22, 97);
  }

  md-content {
    overflow-y: hidden;
    background-color: #eee;

    .toolbar-footer {
      background-color: inherit;
    }
  }

  md-card {
    width: 80%;

    md-input-container.md-input-invalid{

      .md-input {
        border-color: #c30c0c;
      }

      label {
        color: #c30c0c;
      }
    }

    @media (max-width: 600px) {
      width: 96%;
    }

    .md-headline {
      line-height: 26px;
    }

    .material-icons {
      color: #de1661
    }
  }
}
