events-register {
  md-content {
    overflow-y: hidden;
    background-color: #eee;
  }

  md-card {
    width: 80%;

    @media (max-width: 600px) {
      width: 96%;
    }
    
    .md-headline {
      line-height: 26px;
    }

    .material-icons {
      color: #de1661
    }
  }
}
