<md-toolbar>
  <div class="md-toolbar-tools"></div>
</md-toolbar>

<md-content layout="column" layout-padding layout-fill layout-align="start center">

  <md-card flex layout="column">
    <md-card-title flex>
      <md-card-title-media>
        <md-button class="md-icon-button">
          <i class="material-icons">event</i>
        </md-button>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Cadastre um evento</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content flex>
      <p>
        Cadastre um evento sobre a temática.
      </p>
    </md-card-content>
  </md-card>

  <md-card flex layout="column">
    <md-card-title flex>
      <md-card-title-media>
        <md-button class="md-icon-button">
          <i class="material-icons">assignment</i>
        </md-button>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Informações do evento</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content layout="column" layout-padding flex>
      <form layout="column">
        <md-input-container flex>
          <label>Nome</label>
          <input type="text" ng-maxlength="70" ng-model="$ctrl.event.name" required>
        </md-input-container>
        <span flex></span>
        <md-input-container flex="60">
          <label>Descrição</label>
          <textarea ng-model="$ctrl.event.description" ng-maxlength="150" rows="3"></textarea>
        </md-input-container>
      </form>
    </md-card-content>

    <md-card-actions flex layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex layout="column">

    <md-card-title>
      <md-card-title-media>
        <md-button class="md-icon-button">
          <i class="material-icons">place</i>
        </md-button>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">Localização</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content layout-padding>
      <div>
        <form>
          <div layout="row" layout-xs="column">
            <md-input-container flex="30" class="md-block">
              <label>CEP</label>
              <input name="postalCode"
                ng-blur="$ctrl.fetchAddress()"
                ng-model="$ctrl.place.cep"
                required
                ng-pattern="/^[0-9]{8}$/"
                md-maxlength="8">
            </md-input-container>

            <div flex="10" flex-offset="5" layout="row" layout-align="end center">
              <md-progress-circular
                ng-if="$ctrl.loading !== undefined"
                flex
                ng-disabled="!$ctrl.loading"
                md-diameter="20">
              </md-progress-circular>
            </div>
          </div>

          <div layout="row" layout-xs="column">
            <md-input-container flex="10" class="md-block">
              <label>Estado</label>
              <input type="text" ng-maxlength="70" ng-model="$ctrl.place.state" required>
            </md-input-container>

            <md-input-container flex>
              <label>Cidade</label>
              <input type="text" ng-maxlength="70" ng-model="$ctrl.place.city" required>
            </md-input-container>

            <md-input-container flex>
              <label>Bairro</label>
              <input type="text" ng-maxlength="70" ng-model="$ctrl.place.neighborhood" required>
            </md-input-container>
          </div>

          <div layout="row" layout-xs="column">
            <md-input-container flex class="md-block">
              <label>Rua</label>
              <input type="text" ng-maxlength="70" ng-model="$ctrl.place.street" required>
            </md-input-container>

            <md-input-container flex="30" class="md-block">
              <label>Número</label>
              <input type="number" ng-maxlength="70" ng-model="$ctrl.place.number" required>
            </md-input-container>
          </div>
        </form>
      </div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="$ctrl.openMap()">Selecionar no mapa</md-button>
      <md-button ng-click="$ctrl.register()">Salvar</md-button>
    </md-card-actions>
  </md-card>

  <md-toolbar class="toolbar-footer">
    <div class="md-toolbar-tools"></div>
  </md-toolbar>
</md-content>
