  <form>
    <md-toolbar ng-class="::$ctrl.$mdMedia('xs') ? 'md-whiteframe-2dp' : ''">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.close()">
          <i class="material-icons">arrow_back</i>
        </md-button>
        <h2>Detalhes</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.close()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" ng-if="!$ctrl.loading">
        <div layout="row" layout-align="center center" ng-if="$ctrl.loading">
          <md-progress-circular
              md-mode="indeterminate"
              md-diameter="60">
          </md-progress-circular>
        </div>
        <div ng-if="!$ctrl.isLoading()" layout="column" layout-padding>
          <div flex ng-if="$ctrl.details.formatted_phone_number">
            <div class="detail-item" layout="row" layout-align="center start">
              <i flex="10" class="material-icons detail-icon">call</i>
              <div flex layout="column">
                <small flex class="md-subhead">Telefone</small>
                <span flex>{{ $ctrl.details.formatted_phone_number }}</span>
              </div>
            </div>
          </div>
          <md-divider ng-if="$ctrl.details.formatted_phone_number"></md-divider>
          <div flex>
            <div class="detail-item" layout="row" layout-align="center start">
              <i flex="10" class="material-icons detail-icon">room</i>
              <div flex layout="column">
                <small flex class="md-subhead">Endereço</small>
                <span flex>{{ $ctrl.details.vicinity }}</span>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
          <div flex ng-if="$ctrl.details.formattedWebsite">
            <div class="detail-item" layout="row" layout-align="center start">
              <i flex="10" class="material-icons detail-icon">open_in_new</i>
              <div flex layout="column">
                <small flex class="md-subhead">Website</small>
                <span flex>{{ $ctrl.details.formattedWebsite }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
    </md-dialog-actions>
  </form>
