<div layout="column" layout-align="center center">
  <md-input-container>
    <label>Nome</label>
    <input type="text" ng-maxlength="70" ng-model="$ctrl.user.name" required>
  </md-input-container>

  <md-input-container>
    <label>Email</label>
    <input type="email" ng-maxlength="130" ng-model="$ctrl.user.email" required>
  </md-input-container>

  <md-input-container>
    <label>Senha</label>
    <input type="password" name="password" ng-maxlength="30" ng-model="$ctrl.user.password" required>
  </md-input-container>

  <md-button ng-click="$ctrl.register()" layout-fill flex>confirmar</md-button>

  <span flex layout-padding>
    Já está cadastrado?
    <a ui-sref="login">Clique aqui</a>
  </span>
</div>
